header p{
    color: #ffffffff;
    font-weight: 600;
    text-align: center;
}

h1{
    font-size: 53px;
    color: white;
    padding: 15px;
    text-align: center;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;    
}

table{
    width: 100%;
}

table td{
    color: #303030;
    padding: 5px;
}

table tr:nth-child(even){
    background-color: #e9e9e9;
}

table tr:nth-child(odd){
    background-color: #bdbdbdbd;    
}

table thead th{
    background-color: #f4511e;
    color: white;
}

/*Ajustando tamanho das imagens fora do Bootstrap */
figure img{
    width: 240px;
    height: 180px;
}

/* Obsoleto - Ajustado para uso do bootstrap 

body{
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: #818181;
    margin: 0;
}

header{
    background-color: #f4511e;
}

section, footer {
    margin: 40px;
}

nav li a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav li{
    float: left;
}

nav ul{
    float: right;
    list-style: none;
}

nav{
    font-size: 12px;
    letter-spacing: 4px;
    height: 50px;
    background-color: #f83b3b;
    padding-right: 40px;
}

#pacotes .figuras figure img{
    width: 320px;
    height: 240px;
    display: inline-block;
}

#pacotes .figuras, #pacotes .videos{
    text-align: center;
}

#pacotes .videos video{
    float: unset;
    width: 320px;
    margin: 0 auto;
    display: block;
}
*/