header p{
    color: #ffffffff;
    font-weight: 600;
    text-align: center;
}

h1{
    font-size: 53px;
    color: black;
    padding: 15px;
    text-align: center;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;    
}

/*Ajustando tamanho das imagens fora do Bootstrap */
.card img{
    width: 421px;
    height: 320px;
}

.carousel-caption h5{
    font-size: 50px;
    color: #ffc107;
    text-shadow: 2px 2px 2px black;
}